.progress-box {
    padding: 15px;
    text-align: center;
}


.insession-game, .progress-box {
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: red;
}

.insession-game {
    height: 100px;
    background-color: aqua;
}

.img {
    height: 50px;
}

.pie-chart {
    border-radius: 50%;
    width:80%;
    height: width;
    padding-top: 80%;
    background-color: red;
    margin: auto;
}

.trophy {
    font-size: 35pt;
    color: silver;
}

.percentile {
    font-size: 25pt;
}

.game-title {
    text-align: center;
    vertical-align: middle;
}

img {
    width: 100%;
}